public_html/about-guarantee.html
<!DOCTYPE html><html lang='ru'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link href="./layout/css/frontend.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
  <script type="text/javascript" src="./layout/js/frontend.js" async></script>
  <title>Rondell</title><!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="./layout/js/background_size_emu.js"></script>
  <![endif]-->
</head><body class='page page--about'>
<div class="page__toolbar toolbar">
  <div class="toolbar__logo"><a href="./" class="logo"><img src="/layout/images/svg/logo.svg" alt="" width="100%" class="logo__image"></a></div>
  <div class="toolbar__tools"><a href="#" class="toolbar__search"><svg fill="#686868" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1216 832q0-185-131.5-316.5T768 384 451.5 515.5 320 832t131.5 316.5T768 1280t316.5-131.5T1216 832zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225T64 832t55.5-273.5 150-225 225-150T768 128t273.5 55.5 225 150 150 225T1472 832q0 220-124 399l343 343q37 37 37 90z"/></svg></a>
    <div class="toolbar__langs langs"><a href="#" class="langs__item langs__item--active">Ru</a><a href="#" class="langs__item">En</a></div><a href="#" class="nav-trigger"></a>
  </div>
</div>
<aside class="sidebar page__sidebar">
  <div class="sidebar__logo"><a href="./" class="logo"><img src="/layout/images/svg/logo.svg" alt="" width="100%" class="logo__image"></a></div>
  <div class="sidebar__content scroll">
    <div class="sidebar__wrap scroll__wrap">
      <div class="sidebar__header">
        <div class="sidebar__langs langs"><a href="#" class="langs__item langs__item--active">Ru</a><a href="#" class="langs__item">En</a></div><a href="#" class="sidebar__search"><svg fill="#686868" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1216 832q0-185-131.5-316.5T768 384 451.5 515.5 320 832t131.5 316.5T768 1280t316.5-131.5T1216 832zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225T64 832t55.5-273.5 150-225 225-150T768 128t273.5 55.5 225 150 150 225T1472 832q0 220-124 399l343 343q37 37 37 90z"/></svg></a>
      </div>
      <nav class="nav sidebar__nav"><a href="/about.html" class="nav__item nav__item--active">О Rondell</a><a href="./benefits.html" class="nav__item ">Преимущества</a><a href="./catalog.html" class="nav__item ">Каталог</a><a href="./collections.html" class="nav__item ">Коллекции</a><a href="./buy.html" class="nav__item ">Где купить</a><a href="./partners.html" class="nav__item ">Партнерам</a><a href="" class="nav__item ">Поставщикам</a><a href="./news.html" class="nav__item ">Новости</a><a href="./contacts.html" class="nav__item ">Контакты</a>
      </nav>
      <div class="sidebar__footer"><a href="#" class="sidebar__goldermall goldermall">
          <div class="goldermall__title">goldermall.ru</div>
          <div class="goldermall__description">Официальный 
            <nobr>интернет-магазин</nobr>
          </div></a>
        <div class="sidebar__socials"><a href="#" class="social social--facebook"><svg xmlns="http://www.w3.org/2000/svg" width="11.56" height="22.282" viewBox="0 0 11.56 22.282"><path d="M8.51 0A5.062 5.062 0 0 0 4.8 1.37a5.172 5.172 0 0 0-1.39 3.863v2.92H-.01v3.964h3.42v10.164h4.1V12.12h3.4l.52-3.965H7.51v-2.53a2.21 2.21 0 0 1 .4-1.448 1.96 1.96 0 0 1 1.55-.482h2.1V.16A22.134 22.134 0 0 0 8.51 0z"/></svg></a><a href="#" class="social social--twitter"><svg xmlns="http://www.w3.org/2000/svg" width="21.1" height="17.125" viewBox="0 0 21.1 17.125"><path d="M18.62 2.695A4.227 4.227 0 0 0 20.52.31a8.545 8.545 0 0 1-2.75 1.045 4.322 4.322 0 0 0-7.48 2.96 4.88 4.88 0 0 0 .1.99 12.02 12.02 0 0 1-4.97-1.33A12.274 12.274 0 0 1 1.47.78a4.264 4.264 0 0 0-.59 2.183 4.372 4.372 0 0 0 1.93 3.6 4.26 4.26 0 0 1-1.95-.55v.055a4.156 4.156 0 0 0 .98 2.752 4.28 4.28 0 0 0 2.49 1.493 4.5 4.5 0 0 1-1.14.148 5.557 5.557 0 0 1-.82-.066A4.262 4.262 0 0 0 3.9 12.53a4.21 4.21 0 0 0 2.51.864 8.464 8.464 0 0 1-5.37 1.848A9.12 9.12 0 0 1 0 15.188a12 12 0 0 0 6.64 1.942 12.65 12.65 0 0 0 4.33-.73 10.88 10.88 0 0 0 3.45-1.955 12.914 12.914 0 0 0 2.47-2.82 12.423 12.423 0 0 0 2.06-6.8c0-.25 0-.436-.01-.56a9.248 9.248 0 0 0 2.17-2.238 8.61 8.61 0 0 1-2.49.67z"/></svg></a><a href="#" class="social social--vkontakte"><svg xmlns="http://www.w3.org/2000/svg" width="25.72" height="14.657" viewBox="0 0 25.72 14.657"><path d="M25.59.923a.762.762 0 0 0-.41-.22 2.11 2.11 0 0 0-.86-.034l-3.86.025a1.078 1.078 0 0 0-.26.007.89.89 0 0 0-.18.04c-.02.014-.05.025-.06.034l-.06.04a.9.9 0 0 0-.15.14 1.23 1.23 0 0 0-.13.235 22.554 22.554 0 0 1-1.43 3.014c-.33.554-.64 1.034-.91 1.44a6.9 6.9 0 0 1-.7.9 5.065 5.065 0 0 1-.51.462.49.49 0 0 1-.35.148c-.08-.018-.15-.036-.22-.054a.9.9 0 0 1-.31-.328 1.686 1.686 0 0 1-.15-.522c-.03-.21-.04-.39-.05-.543s0-.366.01-.642.01-.465.01-.563c0-.34.01-.708.02-1.105s.03-.712.04-.944.01-.478.01-.737a3.136 3.136 0 0 0-.05-.61 1.683 1.683 0 0 0-.14-.428.7.7 0 0 0-.27-.32 1.536 1.536 0 0 0-.45-.182 8.93 8.93 0 0 0-1.81-.174 8.775 8.775 0 0 0-3.2.32 1.778 1.778 0 0 0-.51.4c-.16.2-.18.3-.07.323a1.627 1.627 0 0 1 1.14.576l.08.16a2.162 2.162 0 0 1 .19.617 6.845 6.845 0 0 1 .12.978 9.294 9.294 0 0 1 0 1.674c-.04.463-.09.825-.13 1.084a2.164 2.164 0 0 1-.18.63 2.19 2.19 0 0 1-.16.294.245.245 0 0 1-.06.067 1.032 1.032 0 0 1-.37.067.848.848 0 0 1-.45-.188 3.412 3.412 0 0 1-.56-.515 6.98 6.98 0 0 1-.65-.92q-.36-.587-.75-1.39l-.21-.39c-.13-.25-.32-.614-.55-1.09s-.44-.94-.62-1.387a.83.83 0 0 0-.32-.43l-.06-.04A1.035 1.035 0 0 0 4.82.73a1.45 1.45 0 0 0-.31-.087L.84.67a.928.928 0 0 0-.76.254l-.05.08a.4.4 0 0 0-.04.215.926.926 0 0 0 .08.36C.6 2.84 1.19 4.054 1.81 5.223S2.99 7.335 3.46 8.05s.93 1.388 1.42 2.02.8 1.042.95 1.22.28.313.37.4l.34.32a7.113 7.113 0 0 0 .94.77 15.71 15.71 0 0 0 1.38.885 7.346 7.346 0 0 0 1.76.71 6.09 6.09 0 0 0 1.96.22h1.54a1.073 1.073 0 0 0 .71-.293l.05-.067a.76.76 0 0 0 .1-.248 1.417 1.417 0 0 0 .05-.368 4.78 4.78 0 0 1 .08-1.04 3.09 3.09 0 0 1 .23-.7 1.78 1.78 0 0 1 .29-.4 1.08 1.08 0 0 1 .23-.193c.04-.022.08-.038.1-.047a.854.854 0 0 1 .76.208 4.6 4.6 0 0 1 .82.776c.25.308.56.655.92 1.038a5.822 5.822 0 0 0 .93.857l.27.16a3.226 3.226 0 0 0 .7.295 1.5 1.5 0 0 0 .75.067l3.43-.054a1.578 1.578 0 0 0 .79-.167.7.7 0 0 0 .33-.367.99.99 0 0 0 .01-.456 1.58 1.58 0 0 0-.1-.355c-.03-.067-.06-.122-.08-.167a13.424 13.424 0 0 0-2.56-2.96l-.03-.027-.01-.013-.01-.014h-.02a14.76 14.76 0 0 1-1.08-1.1 1.03 1.03 0 0 1-.19-1.084 10.576 10.576 0 0 1 1.2-1.754c.37-.473.66-.853.88-1.138q2.31-3.08 2-3.938z"/></svg></a><a href="#" class="social social--youtube"><svg width="90" height="63" viewBox="0 0 90 63" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><g id="youtube" fill="#4D4D4D"><path d="M36 46.724V12.83l25.703 16.948L36 46.724zm54-33.266C90 6.026 83.978 0 76.55 0h-63.1C6.02 0 0 6.026 0 13.458v36.084C0 56.975 6.02 63 13.45 63h63.1C83.98 63 90 56.975 90 49.542V13.458z" id="Fill-1"/></g></g></svg></a></div><a href="#" class="sidebar__present"><img src="/layout/images/svg/present.svg" alt="" width="100%"></a>
        <div class="copyright sidebar__copyright">© 2016 Rondell<a href="#" class="copyright__link"><span>Карта сайта</span></a></div>
      </div>
    </div>
  </div>
</aside>
<div class="page__content content">
  <div class="content__nav">
    <div class="nav"><a href="./about-history.html" class="nav__item ">История бренда</a><a href="./about-mission.html" class="nav__item ">Миссия и ценности</a><a href="./about-awards.html" class="nav__item ">Награды и достижения</a><a href="./about-guarantee.html" class="nav__item nav__item--active">Гарантия</a><a href="./about-video.html" class="nav__item ">Видео</a><a href="./about-recepts.html" class="nav__item ">Список рецептов</a>
    </div>
  </div>
  <div class="content__text text"><img src="./layout/images/guarantee.jpg" class="text__image text__image--mission hidden-xs">
    <h1>Гарантия</h1>
    <p>Вся продукция Röndell производится из материалов самого высокого качества и с применением ультрасовременных технологий. <br/>Каждый предмет проходит несколько этапов контроля качества прежде, чем попадает к Вам на кухню.</p>
    <p>При соблюдении рекомендаций по использованию и уходу за  посудой, кухонными ножами и аксессуарами, а также при их применении исключительно по назначению – для приготовления пищи в домашних условиях, Röndell предоставляет следующую гарантию с момента продажи:</p>
    <ul>
      <li>на посуду из нержавеющей стали — 25 лет **,***;</li>
      <li>на бакелитовые и силиконовые аксессуары — 3 года;</li>
      <li>на алюминиевую посуду — 2 года;</li>
      <li>на посуду из чугуна — 3 года.</li>
    </ul>
    <p>Условия рассмотрения рекламации: сохранение чека и гарантийного талона в течение всего срока гарантии. В каждой коробке товара гарантийный талон прилагается. Гарантия на посуду Röndell действительна с момента приобретения и распространяется на производственные дефекты: сколы, вмятины, трещины и прочее.</p>
    <p>Гарантия не распространяется на повреждения, возникшие в результате неправильного использования посуды:</p>
    <ul>
      <li>перегрева,</li>
      <li>падения изделия,</li>
      <li>преднамеренной поломки.</li>
    </ul>
    <p>Гарантия также не распространяется на естественные изменения внешних свойств изделия, возникших в процессе эксплуатации:</p>
    <ul>
      <li>механические повреждения внешней или внутренней поверхности  (царапины, потертости и т.п.),</li>
      <li>естественные изменения цвета металла *,</li>
      <li>пятна, точки извести и т.п.</li>
    </ul>
    <p><small>
        * Золотистый или голубой оттенок, возникающий в результате чрезмерного перегревания посуды или приготовления некоторых продуктов (томаты, лимон, овощи, рассолы и пр.) является характерным для посуды из нержавеющей стали, безопасен для здоровья и не влияет на функциональные свойства посуды. Удалить такие пятна можно с помощью специальных средств для чистки изделий из нержавеющей стали.<br/>
        ** Гарантия не распространяется на повреждения, возникшие в результате неправильного использования посуды: перегрева, падения изделия или преднамеренной поломки.<br/>
        *** В случае некоммерческого использования.<br/></small></p>
    <div class="center"><a href="#" class="guarantee-trigger">Негарантийные случаи</a></div>
    <div id="unguarantee" class="guarantee-content hidden">
      <h2 class="center xxl-margin-top">Негарантийные случаи</h2>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <p>Уверенность Röndell в высоком качестве своей продукции основана на применении современной системы управления качеством и жестком контроле каждой стадии производства. Этим обусловлены повышенные обязательства перед потребителем, которые принимает на себя компания, а также длительный гарантийный срок на посуду и кухонные аксессуары Röndell.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <p>При соблюдении рекомендаций по использованию и уходу за посудой, кухонными ножами и аксессуарами, а также при их применении исключительно по назначению – для приготовления пищи в домашних условиях, – Вам не придется воспользоваться гарантией Röndell на протяжении многих лет службы наших товаров.</p>
        </div>
      </div>
      <p>Гарантия Röndell не распространяется на случаи, когда неверное применение или нарушение рекомендаций по использованию и уходу за посудой, кухонными ножами и аксессуарами со стороны самого потребителя повлекло за собой механические повреждения или повлияло на внешний вид предметов.</p>
      <div class="text__divider"></div>
      <h3 class="center"> <strong>Типичные случаи, на которые не распространяется гарантия Röndell (негарантийные случаи):</strong></h3>
      <div class="guarantee">
        <div class="guarantee__number">1</div>
        <div class="guarantee__content">
          <div class="guarantee__title">При первом использовании посуды на внутренней поверхности корпуса появились точки черного цвета.</div>
          <div class="guarantee__description">Это остатки производственных масел, явление редкое, но вполне допустимое. Избежать данной проблемы можно, если перед началом использования хорошо вымыть новую посуду. Уже появившиеся пятна несложно отмыть с помощью губки и обычного моющего средства.</div>
        </div>
        <div class="guarantee__cols">
          <div class="guarantee__col"><img src="./layout/images/g-.jpg" class="guarantee__image">
            <div class="guarantee__small">Черный точки, появляющиеся в первые часы использования - остатки производственных масел</div>
          </div>
          <div class="guarantee__col"><img src="./layout/images/g-6.jpg" class="guarantee__image">
            <div class="guarantee__small">Можно отмыть при помощи губки и обычного моющего средства</div>
          </div>
        </div>
      </div>
      <div class="text__divider"></div>
      <div class="guarantee">
        <div class="guarantee__number">2</div>
        <div class="guarantee__content">
          <div class="guarantee__title">В ходе использования посуды на внутренней поверхности корпуса появились радужные пvятна.</div>
          <div class="guarantee__description">Это результат нарушения технологического процесса приготовления пищи, а именно преждевременного применения солей и кислот, например, уксуса. Пищевые соли и кислоты при недостаточной температуре вступают в реакцию со сталью и на молекулярном уровне меняют ее светоотражающие свойства. Появляющиеся вследствие такой реакции радужные пятна не влияют на свойства посуды, они абсолютно безопасны для здоровья и постепенно исчезают в ходе хорошего мытья посуды.</div>
        </div>
        <div class="guarantee__cols">
          <div class="guarantee__col"><img src="./layout/images/g-5.jpg" class="guarantee__image">
            <div class="guarantee__small">Радужные разводы на дне посуды в ходе использования - результат воздействия пищевых кислот</div>
          </div>
          <div class="guarantee__col"><img src="./layout/images/g-4.jpg" class="guarantee__image">
            <div class="guarantee__small">Можно обработать лимонным соком или постепенно отмыть обычными моющими средствами</div>
          </div>
        </div>
      </div>
      <div class="text__divider"></div>
      <div class="guarantee">
        <div class="guarantee__number">3</div>
        <div class="guarantee__content">
          <div class="guarantee__title">В ходе использования посуды на внешней поверхности дна появились темно-коричневые пятна.</div>
          <div class="guarantee__description">Это результат перегрева, вызванного нарушением правил использования посуды (например, пустая кастрюля долго находится на раскаленной конфорке), или неравномерного нагрева корпуса (например, диаметр кастрюли не соответствует диаметру конфорки, существенно превосходит его по размеру). Эти пятна также удаляются в ходе качественного мытья посуды, но вывести их бесследно удается не часто.</div>
        </div>
        <div class="guarantee__cols">
          <div class="guarantee__col"><img src="./layout/images/g-2.jpg" class="guarantee__image">
            <div class="guarantee__small">Темные пятна на дне посуды - резальтуат ее перегрева</div>
          </div>
          <div class="guarantee__col"><img src="./layout/images/g-3.jpg" class="guarantee__image">
            <div class="guarantee__small">Постепенно отмываются обычными моющими средствами, но редко выводятся до конца</div>
          </div>
        </div>
      </div>
      <div class="text__divider"></div>
      <div class="guarantee">
        <div class="guarantee__number">4</div>
        <div class="guarantee__content">
          <div class="guarantee__title">Вмятины, сколы, царапины и другие механические повреждения могут появиться на посуде только в результате ее применения не по назначению (не для приготовления пищи в домашних условиях) или грубого нарушения правил использования и ухода за посудой.</div>
        </div>
        <div class="guarantee__cols">
          <p>Так, не будет считаться гарантийным случаем, обгоревшая на костре посуда или посуда с оплавленными ручками, не предназначенная для использования в духовке, разбитая в результате падения с высоты крышка или с силой оторванная ручка кастрюли.</p>
        </div>
      </div>
      <div class="text__divider"></div>
      <p>Для того чтобы избежать подобных ситуаций и недоразумений, прежде чем совершить покупку внимательно изучите все предметы. Убедитесь, что данный вид посуды подходит для использования на Вашей варочной поверхности, в духовке, посудомоечной машине. Обратите внимание на внешний вид предметов, целостность корпуса, отсутствие какие-либо пятен, царапин и иных повреждений, появившихся во время транспортировки или вследствие неправильного хранения.</p>
      <p>Внимательно изучите рекомендации по использованию и уходу за приобретаемой посудой, кухонными ножами и аксессуарами, а в дальнейшем неукоснительно следуйте этим рекомендациям и наслаждайтесь высоким качеством профессиональной посуды для дома от Röndell!</p>
    </div>
  </div>
</div>
<footer class="footer page__footer"><a href="#" class="footer__goldermall goldermall">
    <div class="goldermall__title">goldermall.ru</div>
    <div class="goldermall__description">Официальный 
      <nobr>интернет-магазин</nobr>
    </div></a>
  <div class="footer__copyright copyright">© 2016 Rondell<a href="#" class="copyright__link"> <span>Карта сайта</span></a></div>
  <div class="footer__socials"><a href="#" class="social social--facebook"><svg xmlns="http://www.w3.org/2000/svg" width="11.56" height="22.282" viewBox="0 0 11.56 22.282"><path d="M8.51 0A5.062 5.062 0 0 0 4.8 1.37a5.172 5.172 0 0 0-1.39 3.863v2.92H-.01v3.964h3.42v10.164h4.1V12.12h3.4l.52-3.965H7.51v-2.53a2.21 2.21 0 0 1 .4-1.448 1.96 1.96 0 0 1 1.55-.482h2.1V.16A22.134 22.134 0 0 0 8.51 0z"/></svg></a><a href="#" class="social social--twitter"><svg xmlns="http://www.w3.org/2000/svg" width="21.1" height="17.125" viewBox="0 0 21.1 17.125"><path d="M18.62 2.695A4.227 4.227 0 0 0 20.52.31a8.545 8.545 0 0 1-2.75 1.045 4.322 4.322 0 0 0-7.48 2.96 4.88 4.88 0 0 0 .1.99 12.02 12.02 0 0 1-4.97-1.33A12.274 12.274 0 0 1 1.47.78a4.264 4.264 0 0 0-.59 2.183 4.372 4.372 0 0 0 1.93 3.6 4.26 4.26 0 0 1-1.95-.55v.055a4.156 4.156 0 0 0 .98 2.752 4.28 4.28 0 0 0 2.49 1.493 4.5 4.5 0 0 1-1.14.148 5.557 5.557 0 0 1-.82-.066A4.262 4.262 0 0 0 3.9 12.53a4.21 4.21 0 0 0 2.51.864 8.464 8.464 0 0 1-5.37 1.848A9.12 9.12 0 0 1 0 15.188a12 12 0 0 0 6.64 1.942 12.65 12.65 0 0 0 4.33-.73 10.88 10.88 0 0 0 3.45-1.955 12.914 12.914 0 0 0 2.47-2.82 12.423 12.423 0 0 0 2.06-6.8c0-.25 0-.436-.01-.56a9.248 9.248 0 0 0 2.17-2.238 8.61 8.61 0 0 1-2.49.67z"/></svg></a><a href="#" class="social social--vkontakte"><svg xmlns="http://www.w3.org/2000/svg" width="25.72" height="14.657" viewBox="0 0 25.72 14.657"><path d="M25.59.923a.762.762 0 0 0-.41-.22 2.11 2.11 0 0 0-.86-.034l-3.86.025a1.078 1.078 0 0 0-.26.007.89.89 0 0 0-.18.04c-.02.014-.05.025-.06.034l-.06.04a.9.9 0 0 0-.15.14 1.23 1.23 0 0 0-.13.235 22.554 22.554 0 0 1-1.43 3.014c-.33.554-.64 1.034-.91 1.44a6.9 6.9 0 0 1-.7.9 5.065 5.065 0 0 1-.51.462.49.49 0 0 1-.35.148c-.08-.018-.15-.036-.22-.054a.9.9 0 0 1-.31-.328 1.686 1.686 0 0 1-.15-.522c-.03-.21-.04-.39-.05-.543s0-.366.01-.642.01-.465.01-.563c0-.34.01-.708.02-1.105s.03-.712.04-.944.01-.478.01-.737a3.136 3.136 0 0 0-.05-.61 1.683 1.683 0 0 0-.14-.428.7.7 0 0 0-.27-.32 1.536 1.536 0 0 0-.45-.182 8.93 8.93 0 0 0-1.81-.174 8.775 8.775 0 0 0-3.2.32 1.778 1.778 0 0 0-.51.4c-.16.2-.18.3-.07.323a1.627 1.627 0 0 1 1.14.576l.08.16a2.162 2.162 0 0 1 .19.617 6.845 6.845 0 0 1 .12.978 9.294 9.294 0 0 1 0 1.674c-.04.463-.09.825-.13 1.084a2.164 2.164 0 0 1-.18.63 2.19 2.19 0 0 1-.16.294.245.245 0 0 1-.06.067 1.032 1.032 0 0 1-.37.067.848.848 0 0 1-.45-.188 3.412 3.412 0 0 1-.56-.515 6.98 6.98 0 0 1-.65-.92q-.36-.587-.75-1.39l-.21-.39c-.13-.25-.32-.614-.55-1.09s-.44-.94-.62-1.387a.83.83 0 0 0-.32-.43l-.06-.04A1.035 1.035 0 0 0 4.82.73a1.45 1.45 0 0 0-.31-.087L.84.67a.928.928 0 0 0-.76.254l-.05.08a.4.4 0 0 0-.04.215.926.926 0 0 0 .08.36C.6 2.84 1.19 4.054 1.81 5.223S2.99 7.335 3.46 8.05s.93 1.388 1.42 2.02.8 1.042.95 1.22.28.313.37.4l.34.32a7.113 7.113 0 0 0 .94.77 15.71 15.71 0 0 0 1.38.885 7.346 7.346 0 0 0 1.76.71 6.09 6.09 0 0 0 1.96.22h1.54a1.073 1.073 0 0 0 .71-.293l.05-.067a.76.76 0 0 0 .1-.248 1.417 1.417 0 0 0 .05-.368 4.78 4.78 0 0 1 .08-1.04 3.09 3.09 0 0 1 .23-.7 1.78 1.78 0 0 1 .29-.4 1.08 1.08 0 0 1 .23-.193c.04-.022.08-.038.1-.047a.854.854 0 0 1 .76.208 4.6 4.6 0 0 1 .82.776c.25.308.56.655.92 1.038a5.822 5.822 0 0 0 .93.857l.27.16a3.226 3.226 0 0 0 .7.295 1.5 1.5 0 0 0 .75.067l3.43-.054a1.578 1.578 0 0 0 .79-.167.7.7 0 0 0 .33-.367.99.99 0 0 0 .01-.456 1.58 1.58 0 0 0-.1-.355c-.03-.067-.06-.122-.08-.167a13.424 13.424 0 0 0-2.56-2.96l-.03-.027-.01-.013-.01-.014h-.02a14.76 14.76 0 0 1-1.08-1.1 1.03 1.03 0 0 1-.19-1.084 10.576 10.576 0 0 1 1.2-1.754c.37-.473.66-.853.88-1.138q2.31-3.08 2-3.938z"/></svg></a><a href="#" class="social social--youtube"><svg width="90" height="63" viewBox="0 0 90 63" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><g id="youtube" fill="#4D4D4D"><path d="M36 46.724V12.83l25.703 16.948L36 46.724zm54-33.266C90 6.026 83.978 0 76.55 0h-63.1C6.02 0 0 6.026 0 13.458v36.084C0 56.975 6.02 63 13.45 63h63.1C83.98 63 90 56.975 90 49.542V13.458z" id="Fill-1"/></g></g></svg></a></div><a href="#" class="footer__present"><img src="/layout/images/svg/present.svg" alt="" width="100%"></a>
</footer>
<div class="nav nav--modal">
  <div class="nav__wrap">
    <div class="nav__section">
      <div class="nav__title"><a href="/about.html" class="nav__item nav__item--trigger">О Rondell</a><a href="#" class="nav__trigger"><svg width="26" height="15" viewBox="0 0 26 15" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><path d="M13.013 11.6L1.426.01.012 1.426l13 13h.002l13-13L24.6.012 13.013 11.6z" id="down" fill="#000"/></g></svg></a>
      </div>
      <div class="nav__content"><a href="./about-history.html" class="nav__item">История бренда</a><a href="./about-mission.html" class="nav__item">Миссия и ценности</a><a href="./about-awards.html" class="nav__item">Награды и достижения</a><a href="./about-guarantee.html" class="nav__item">Гарантия</a><a href="./about-video.html" class="nav__item">Видео</a><a href="./about-recepts.html" class="nav__item">Список рецептов</a>
      </div>
    </div>
    <div class="nav__section">
      <div class="nav__title"><a href="./benefits.html" class="nav__item nav__item--trigger">Преимущества</a><a href="#" class="nav__trigger"><svg width="26" height="15" viewBox="0 0 26 15" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><path d="M13.013 11.6L1.426.01.012 1.426l13 13h.002l13-13L24.6.012 13.013 11.6z" id="down" fill="#000"/></g></svg></a>
      </div>
      <div class="nav__content"><a href="./betefits-.html" class="nav__item">Подарочная упаковка</a><a href="./betefits-.html" class="nav__item">Рекомендации профессионалов</a><a href="./betefits-.html" class="nav__item">Социальная ответственность</a><a href="./betefits-.html" class="nav__item">Стиль и дизайн</a><a href="./betefits-.html" class="nav__item">Технологии и материалы</a><a href="./betefits-.html" class="nav__item">Маркетинговая поддержка</a>
      </div>
    </div>
    <div class="nav__section">
      <div class="nav__title"><a href="./catalog.html" class="nav__item nav__item--trigger">Каталог</a><a href="#" class="nav__trigger"><svg width="26" height="15" viewBox="0 0 26 15" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><path d="M13.013 11.6L1.426.01.012 1.426l13 13h.002l13-13L24.6.012 13.013 11.6z" id="down" fill="#000"/></g></svg></a>
      </div>
      <div class="nav__content"><a href="./catalog-.html" class="nav__item">Товары категории</a><a href="./catalog-.html" class="nav__item">Товары коллекции</a><a href="./catalog-collections.html" class="nav__item">Список коллекций</a><a href="./catalog-.html" class="nav__item">Список артикулов</a>
      </div>
    </div>
    <div class="nav__section">
      <div class="nav__title"><a href="./collections.html" class="nav__item nav__item--trigger">Коллекции</a><a href="#" class="nav__trigger"><svg width="26" height="15" viewBox="0 0 26 15" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><path d="M13.013 11.6L1.426.01.012 1.426l13 13h.002l13-13L24.6.012 13.013 11.6z" id="down" fill="#000"/></g></svg></a>
      </div>
      <div class="nav__content"><a href="./buy-.html" class="nav__item">Интернет-магазины</a><a href="./buy-.html" class="nav__item">Традиционная розница</a><a href="./buy-.html" class="nav__item">Сетевая розница</a>
      </div>
    </div>
    <div class="nav__section nav__section--hoverless">
      <div class="nav__title"><a href="./buy.html" class="nav__item nav__item--trigger">Где купить</a>
      </div>
      <div class="nav__content">
      </div>
    </div>
    <div class="nav__section">
      <div class="nav__title"><a href="./partners.html" class="nav__item nav__item--trigger">Партнерам</a><a href="#" class="nav__trigger"><svg width="26" height="15" viewBox="0 0 26 15" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><path d="M13.013 11.6L1.426.01.012 1.426l13 13h.002l13-13L24.6.012 13.013 11.6z" id="down" fill="#000"/></g></svg></a>
      </div>
      <div class="nav__content"><a href="/news.html" class="nav__item">Новости</a><a href="/partners-adv.html" class="nav__item">Рекламные материалы</a><a href="/partners-.html" class="nav__item">Рассылка новостей</a><a href="/partners-.html" class="nav__item">Обратная связь</a>
      </div>
    </div>
    <div class="nav__section nav__section--hoverless">
      <div class="nav__title"><a href="" class="nav__item nav__item--trigger">Поставщикам</a>
      </div>
      <div class="nav__content">
      </div>
    </div>
    <div class="nav__section nav__section--hoverless">
      <div class="nav__title"><a href="./news.html" class="nav__item nav__item--trigger">Новости</a>
      </div>
      <div class="nav__content">
      </div>
    </div>
    <div class="nav__section nav__section--hoverless">
      <div class="nav__title"><a href="./contacts.html" class="nav__item nav__item--trigger">Контакты</a>
      </div>
      <div class="nav__content">
      </div>
    </div>
    <input placeholder="Поиск" class="nav__search visible-xs">
  </div>
</div>
<div class="search">
  <div class="search__fade"></div>
  <div class="search__content">
    <div class="search__input">
      <input type="text" placeholder="Что ищем?">
    </div><a href="#" class="search__close"><svg width="115" height="115" viewBox="0 0 115 115" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><path d="M57.5 0C89.256 0 115 25.744 115 57.5S89.256 115 57.5 115 0 89.256 0 57.5 25.744 0 57.5 0zm6.008 57.688l18.4 18.4-5.662 5.66-18.398-18.4-18.4 18.4-5.66-5.66 18.4-18.4-18.4-18.4 5.66-5.66 18.4 18.4 18.398-18.4 5.66 5.66-18.398 18.4zm-6.083-48.52c26.468 0 47.925 21.456 47.925 47.924s-21.457 47.925-47.925 47.925C30.957 105.017 9.5 83.56 9.5 57.092c0-26.468 21.457-47.925 47.925-47.925z" id="close" fill="#000"/></g></svg></a>
  </div>
</div>

sources/html/about-guarantee.jade
include includes/header
- var activeNav = 0
<body class='page page--about'>
include includes/toolbar
include includes/sidebar

.page__content.content
    - var subNav = nav[0].items
    - var subNavActive = 3
    .content__nav
        include includes/sub_nav
    .content__text.text
        img.text__image.text__image--mission.hidden-xs(src='./layout/images/guarantee.jpg')
        h1 Гарантия
        p Вся продукция Röndell производится из материалов самого высокого качества и с применением ультрасовременных технологий. <br/>Каждый предмет проходит несколько этапов контроля качества прежде, чем попадает к Вам на кухню.
        p При соблюдении рекомендаций по использованию и уходу за  посудой, кухонными ножами и аксессуарами, а также при их применении исключительно по назначению – для приготовления пищи в домашних условиях, Röndell предоставляет следующую гарантию с момента продажи:
        ul
            li на посуду из нержавеющей стали — 25 лет **,***;
            li на бакелитовые и силиконовые аксессуары — 3 года;
            li на алюминиевую посуду — 2 года;
            li на посуду из чугуна — 3 года.
        p Условия рассмотрения рекламации: сохранение чека и гарантийного талона в течение всего срока гарантии. В каждой коробке товара гарантийный талон прилагается. Гарантия на посуду Röndell действительна с момента приобретения и распространяется на производственные дефекты: сколы, вмятины, трещины и прочее.

        p Гарантия не распространяется на повреждения, возникшие в результате неправильного использования посуды:
        ul
            li перегрева,
            li падения изделия,
            li преднамеренной поломки.
        p Гарантия также не распространяется на естественные изменения внешних свойств изделия, возникших в процессе эксплуатации:
        ul
            li механические повреждения внешней или внутренней поверхности  (царапины, потертости и т.п.),
            li естественные изменения цвета металла *,
            li пятна, точки извести и т.п.
        p
            small.
                * Золотистый или голубой оттенок, возникающий в результате чрезмерного перегревания посуды или приготовления некоторых продуктов (томаты, лимон, овощи, рассолы и пр.) является характерным для посуды из нержавеющей стали, безопасен для здоровья и не влияет на функциональные свойства посуды. Удалить такие пятна можно с помощью специальных средств для чистки изделий из нержавеющей стали.<br/>
                ** Гарантия не распространяется на повреждения, возникшие в результате неправильного использования посуды: перегрева, падения изделия или преднамеренной поломки.<br/>
                *** В случае некоммерческого использования.<br/>
        .center
            a.guarantee-trigger(href='#') Негарантийные случаи
        #unguarantee.guarantee-content.hidden
            h2.center.xxl-margin-top Негарантийные случаи
            .row
                .col-sm-6.col-xs-12
                    p Уверенность Röndell в высоком качестве своей продукции основана на применении современной системы управления качеством и жестком контроле каждой стадии производства. Этим обусловлены повышенные обязательства перед потребителем, которые принимает на себя компания, а также длительный гарантийный срок на посуду и кухонные аксессуары Röndell.
                .col-sm-6.col-xs-12
                    p При соблюдении рекомендаций по использованию и уходу за посудой, кухонными ножами и аксессуарами, а также при их применении исключительно по назначению – для приготовления пищи в домашних условиях, – Вам не придется воспользоваться гарантией Röndell на протяжении многих лет службы наших товаров.
            p Гарантия Röndell не распространяется на случаи, когда неверное применение или нарушение рекомендаций по использованию и уходу за посудой, кухонными ножами и аксессуарами со стороны самого потребителя повлекло за собой механические повреждения или повлияло на внешний вид предметов.

            .text__divider
        
        
            
            h3.center 
                strong Типичные случаи, на которые не распространяется гарантия Röndell (негарантийные случаи):

            .guarantee
                .guarantee__number 1
                .guarantee__content
                    .guarantee__title При первом использовании посуды на внутренней поверхности корпуса появились точки черного цвета.
                    .guarantee__description Это остатки производственных масел, явление редкое, но вполне допустимое. Избежать данной проблемы можно, если перед началом использования хорошо вымыть новую посуду. Уже появившиеся пятна несложно отмыть с помощью губки и обычного моющего средства.
                .guarantee__cols
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-.jpg')
                        .guarantee__small Черный точки, появляющиеся в первые часы использования - остатки производственных масел
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-6.jpg')
                        .guarantee__small Можно отмыть при помощи губки и обычного моющего средства

            .text__divider
                
            .guarantee
                .guarantee__number 2
                .guarantee__content
                    .guarantee__title В ходе использования посуды на внутренней поверхности корпуса появились радужные пvятна.
                    .guarantee__description Это результат нарушения технологического процесса приготовления пищи, а именно преждевременного применения солей и кислот, например, уксуса. Пищевые соли и кислоты при недостаточной температуре вступают в реакцию со сталью и на молекулярном уровне меняют ее светоотражающие свойства. Появляющиеся вследствие такой реакции радужные пятна не влияют на свойства посуды, они абсолютно безопасны для здоровья и постепенно исчезают в ходе хорошего мытья посуды.
                .guarantee__cols
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-5.jpg')
                        .guarantee__small Радужные разводы на дне посуды в ходе использования - результат воздействия пищевых кислот
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-4.jpg')
                        .guarantee__small Можно обработать лимонным соком или постепенно отмыть обычными моющими средствами

            .text__divider
            
            .guarantee
                .guarantee__number 3
                .guarantee__content
                    .guarantee__title В ходе использования посуды на внешней поверхности дна появились темно-коричневые пятна.
                    .guarantee__description Это результат перегрева, вызванного нарушением правил использования посуды (например, пустая кастрюля долго находится на раскаленной конфорке), или неравномерного нагрева корпуса (например, диаметр кастрюли не соответствует диаметру конфорки, существенно превосходит его по размеру). Эти пятна также удаляются в ходе качественного мытья посуды, но вывести их бесследно удается не часто.
                .guarantee__cols
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-2.jpg')
                        .guarantee__small Темные пятна на дне посуды - резальтуат ее перегрева
                    .guarantee__col
                        img.guarantee__image(src='./layout/images/g-3.jpg')
                        .guarantee__small Постепенно отмываются обычными моющими средствами, но редко выводятся до конца

            .text__divider
            
            .guarantee
                .guarantee__number 4
                .guarantee__content
                    .guarantee__title Вмятины, сколы, царапины и другие механические повреждения могут появиться на посуде только в результате ее применения не по назначению (не для приготовления пищи в домашних условиях) или грубого нарушения правил использования и ухода за посудой.
                .guarantee__cols
                    p Так, не будет считаться гарантийным случаем, обгоревшая на костре посуда или посуда с оплавленными ручками, не предназначенная для использования в духовке, разбитая в результате падения с высоты крышка или с силой оторванная ручка кастрюли.

            .text__divider
            
            p Для того чтобы избежать подобных ситуаций и недоразумений, прежде чем совершить покупку внимательно изучите все предметы. Убедитесь, что данный вид посуды подходит для использования на Вашей варочной поверхности, в духовке, посудомоечной машине. Обратите внимание на внешний вид предметов, целостность корпуса, отсутствие какие-либо пятен, царапин и иных повреждений, появившихся во время транспортировки или вследствие неправильного хранения.

            p Внимательно изучите рекомендации по использованию и уходу за приобретаемой посудой, кухонными ножами и аксессуарами, а в дальнейшем неукоснительно следуйте этим рекомендациям и наслаждайтесь высоким качеством профессиональной посуды для дома от Röndell!

include includes/footer
